* {
  transition: 0.1s;
  transition-timing-function: linear;
}

html {
  font-size: smaller;
  font-family: sans-serif;
  background: whitesmoke;
}

i.material-icons {
  font-size: smaller;
}

.keyboard,
.keyboard2 {
  position: relative;

  width: 1100px;
  margin: 0 auto;
  padding: 15px 0;

  background: radial-gradient(circle, rgba(82,97,103,1) 0%, rgba(104,109,139,1) 35%, rgb(85, 86, 88) 98%);
  border: 2px rgba(82,97,103,1) solid;
  border-radius: 25px;
  display: block;
  box-shadow: 0 0 0.7em rgb(0,0,0);
}

#KeyboardRU {
  display: none;
}

.spacing {
  margin-left: 10px;
}

.keyboard-hidden {
  bottom: -100%;
}

.keyboard-keys {
  text-align: center;
}

.keyboard-key {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.3%;
  max-width: 90px;
  height: 45px;
  margin: 3px;
  padding: 0;

  font-size: 22px;
  vertical-align: top;
  color: whitesmoke;

  background: rgba(90, 166, 216, 0.5);
  border: 1.5px rgba(90, 166, 216, 0.8) solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 0.2em rgba(0,0,0,0.4);
}

.keyboard-key:hover {
  border-color: rgb(91, 177, 235);
}

.keyboard-key:active {

  transform: scale(0.9);
  box-shadow: 0 0 0.6em rgba(0,0,0,0.6);
}

.keyboard-key-wide {
  width: 30%;
}

.keyboard-key-up {
  left: 3.7%;

  width: 4.3%;
}

.keyboard-key-extra-wide {
  width: 30%;
  max-width: 500px;
}

.keyboard-key-activatable::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;

  width: 8px;
  height: 8px;

  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard-key-active::after {
  background: red;
}

.textarea {
  position: relative;
  width: 70%;
  height: 400px;
  left: 15%;
  box-shadow: 0 0 0.4em rgba(0,0,0,0.8);
  border: none;
  border-radius: 15px;
  padding: 20px 0 0 20px;
}

li {
  list-style: none;
}

.push {
  background-color: rgba(220, 20, 60, 0.7);
  transform: scale(0.9);
  box-shadow: 0 0 0.4em rgba(0,0,0,0.4);
  border-color: rgba(220, 20, 60, 0.7);
}

.helptips {
  z-index: -2;
  position: absolute;

  width: 25%;
  margin-left: 23%;
  margin-top: -10px;
  padding: 20px 0 7px 0;

  background: linear-gradient(#293f50, grey);
  border: none;
  border-radius: 7px;;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 1.5rem;
  box-shadow: 0 0 0.4em rgba(0,0,0,0.6);
}

.helptips span {
font-size: 0.9rem;
font-weight: bold;
}
